.title {
  display: flex;
  justify-content: center;
  font-family: $normalFontFamily;
  font-weight: $headingFontWeight;
  font-size: $headingFontSize;
  color: $headingColor;
  line-height: $headingLineHeight;
}
